<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    {%- unless settings.type_header_font.system? and settings.type_body_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    <script src="{{ 'jquery.min.js' | asset_url }}" defer="defer"></script>

    <script src="{{ 'swiper.js' | asset_url }}" defer="defer"></script>
    <link rel="stylesheet" href="{{ 'swiper.css' | asset_url }}"/>

    {{ content_for_header }}


    {% style %}
      @font-face {
        font-family: 'f37ginger';
        src: url("{{ 'f37ginger-regular.otf' | asset_url }}") format("opentype");
        font-stretch: normal;
        font-style: normal;
      }

      :root {
        --color_accent:     {{ settings.color_accent }};
        --color_accent_hov: {{ settings.color_accent | color_modify: 'alpha', 0.7 }};
		    --color_accent_2:   {{ settings.color_accent_2 }};
		    --border_color:     {{ settings.border_color }};
		    --light_color:      {{ settings.light_color }};
        --text_color:       {{ settings.text_color }};
        --header_color:     {{ settings.header_color }};
        --link_color:       {{ settings.link_color }};
        --link_hover_color: {{ settings.link_hover_color }};
        --product_bg:       {{ settings.product_bg }};
      }
    {% endstyle %}

    {{ 'base.css' | asset_url | stylesheet_tag }}


   
    <script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
    if (Shopify.designMode) {
      document.documentElement.classList.add('shopify-design-mode');
    }
    </script>
  </head>

  <body>
    <div class="gradient">
      <div class="gradient_inner"></div>
    </div>

    <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>
  
  </body>
</html>
